/*Layout*/
* {
	font-family: "Poppins", sans-serif;
}
html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
}
section {
	max-width: 1440px;
	margin: auto;
}
#header .container {
	border-bottom: 1px solid #ebebeb;
}
.border-top {
	border-top: 1px solid #ebebeb;
}
div.container:not(#header .container, #intro-container ) {
	padding: 100px 20px;
}
.container-block {
	padding: 100px 0px;
}
.header-menu {
	padding: 20px;
}
.flex-space-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex {
	display: flex;
}
.jus-center {
	justify-content: center;
}
.jus-sb {
	justify-content: space-between;
}
.align-center {
	align-items: center;
}
.align-top {
	align-items: flex-start;
}
.align-stretch {
	align-items: stretch;
}
.flex-column {
	flex-direction: column;
}
.wrap {
	flex-wrap: wrap;
}
.grid {
	display: grid;
}
.grid-3-col {
	grid-template-columns: repeat(3, 1fr);
}
.grid > div {
	width: 100%;
}
/*Layout - ends*/

/*Text styling*/
h1, h2, h3, h4 {
	margin: 0;
}
.heading {
	color: #919191; 
	font-size: 36px; 
	font-weight: 400; 
	transition: all 0.2s ease-in-out;
}
h2 {
	margin: 0;
	line-height: 1;
}
/*Text styling - ends*/

/*Header menu*/
.logo1, .logo2 {
	transition: all 0.4s ease-in-out;
}
.logo:hover > .logo1 {
	color: #919191;
}
.logo:hover > .logo2 {
	color: #000 !important;
}
ul.menu {
	list-style-type: none;
	margin: 0;
	padding-right: 12px;
	overflow: hidden;
}
ul.menu > li {
	float: left;
}
a {
	text-decoration: none;
	color: #919191;
}
a:hover {
	color: #000;
}
li > a:not(.project-description li > a) {
	padding: 5px 8px;
}
a.fa {
	padding: 8px;
}
.fa > i {
	font-size: 22px;
}
.fa-whatsapp {
	font-weight: 600 !important;
}
/*Header menu - ends*/

/*Content*/
#intro {
	height: calc(100dvh - 88px);
	padding: 0 20px;
}
/*#intro-container {
	display: inline-block;
}*/
.hello {
	font-weight: 500;
	font-size: 48px;
	-webkit-text-stroke: 1px #757575;
	color: #fff;
	line-height: 1;
	font-family: Dela Gothic One, sans-serif;
	text-transform: uppercase;
	letter-spacing: -0.9px;
	word-spacing: 4px;
	text-align: center;
	white-space: nowrap;
}
.myname {
	font-family: Handjet, sans-serif;
	font-size: 50px;
	font-weight: 500;
	color: #919191;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 4px;
	line-height: 1;
} 
.myname > span {
	color: #494949;
}
.myexp {
	font-weight: 400;
	color: #8b8b8b !important;
	max-width: 550px;
	line-height: 1.3;
	text-align: center;
	margin: 8px auto;
}
.myname > span, .myname, .myexp {	
	transition: all 0.3s ease-in-out;
}
#intro-container:hover .myname, #intro-container:hover .myexp{
	color: #494949 !important;
}
#intro-container:hover .myname > span {
	color: #919191;
}
.checkmyproject {
	position: absolute;
	top: 85dvh;
}
#intro-container > h1:first-child {
	transition: all 0.1s ease-in-out;
}
#intro-container:hover > h1:first-child {
	-webkit-text-stroke: 1.3px #494949 !important;
}
.checkmyproject h3 > span:first-child {
	opacity: 0;
	transition: all 0.1s ease-in-out;
	display: block;
}
.checkmyproject:hover h3 > span {
	opacity: 1;
}
#cmp > h3 i {
	color: #494949;
	opacity: 0;
	animation: arrow 2s step-end infinite;

}
@keyframes arrow {
	50% {
		opacity: 1;
	}
}

#content {
	max-width: 1000px;
    display: none; /* Initially hidden */
    position: relative;
    padding: 20px; /* Example padding, adjust as needed */
}

#content.show {
    display: flex; /* Show when class 'show' is added */
    /* Add transition for smooth appearance if needed */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.project-item {
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
    border-radius: 18px;
}
.project-item > .project-content {
	padding: 60px;
	margin: auto;
}
.project-item:not(:last-child) {
	margin-bottom: 32px;
}
h3.project-title {
	color: #5b5b5b;
    font-weight: 500;
    font-size: 24px;
    font-family: Dela Gothic One, sans-serif;
    transition: all 0.3s ease-in-out;
}
.project-item:hover h3.project-title {
	color: #000;
}
.project-image {
	width: 40%;
	overflow: hidden;
	border-right: 1px solid #ebebeb;
}
.project-content {
	width: 60%;
}
.project-image img {
	width: 100%;
	border-radius: 18px 0 0 18px;
	height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s ease-in-out;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.project-item:hover .project-image img {
	-webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.project-description {
	transition: all 0.3s ease-in-out;
	color: #858585;
}
.project-item:hover .project-description {
	color: #494949;
}
.project-description ul {
	list-style: none;
	padding: 0;
}
.project-description ul > li > b {
	font-weight: 600;
}
.project-description ul > li:not(:last-child) {
	margin-bottom: 8px;
}
.project-icon {
	margin: 28px 0;
}
.project-icon > i {
	font-size: 22px;
	color: #6d6d6d;
	line-height: 1.3;
	transition: all 0.2s ease-in-out;
}
.project-item:hover .project-icon > i {
	color: #2b2b2b;
}
.project-icon > i:not(:last-child), .project-icon > img:not(:last-child) {
	margin-right: 8px;
}
.project-icon > img {
	filter: grayscale(100%);
	transition: all 0.2s ease-in-out;
}
.project-item:hover .project-icon > img {
	filter: grayscale(80%);
}
.project-link > a {
	padding: 5px 32px;
    border-radius: 18px;
    color: #fff;
    background-color: #858585;
    transition: all 0.2s ease-in-out;
}
.project-link > a:hover {
	background-color: #000;
}

/*Typewriter Animation*/
.typewriter {
	display: flex;
	justify-content: center;
}
.typewriter > * {
	margin-inline: auto;
	overflow: hidden;
	white-space: nowrap;
	border-right: 1px solid;
	animation: typing 3s steps(22) forwards,
	blink 1s step-end infinite;
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
}

@keyframes checkout {
	50% {
		color: #000;
		font-weight: 600;
	}
}

/*Content - ends*/

/*Footer*/
.footer .fa > i {
	font-size: 32px;
}
.footer a.fa {
	padding: 8px 16px;
}
.footer {
	border-top: 1px solid #ebebeb;
	padding: 100px 32px 32px;
}
#goup {
	position: fixed;
	right: 20px;
	bottom: 20px;
	transition: all 0.3s ease-in-out;
}
#goup > a > i {
	padding: 12px 16px;
    background-color: #ebebeb;
    border-radius: 50%;
    color: #494949;
    font-size: 20px;
}
/*Footer - ends*/
