@media screen and (max-width: 660px) {
	.hello {
		font-size: 9vw;
	}
	.myname {
		font-size: 8vw;
		margin-top: 4px;
		letter-spacing: 1.5px;
	}
	.myexp {
		margin: 8px auto;
		font-size: 3vw;
	}
	.checkmyproject h3, .checkmyproject h3 > span{
		font-size: 16px;
	}
	.project-image {
		display: none;
	}
	.project-content {
		width: 100%;
		padding: 32px !important;
	}
	h3:not(.myexp) {
		font-size: 20px !important;
	}
}

@media screen and (max-width: 435px) {
	.project-link {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: stretch;
		text-align: center;
	}
	.project-link > a:not(:last-child) {
		margin-right: 0 !important;
		margin-bottom: 8px;
	}
}
